        @font-face{
            font-family: "Elianto";
            src: url("Elianto-Regular.217c0af59691.ttf"),
                 url("Elianto-Regular.7e57dbb0d775.otf");
        }
        body{
                margin-top: 40px;
                background-color: #f5f5f5;
                color: #525f6b;
        }
        H2{
            text-align: center;
            font-family:  monospace;
        }
        H1{
            font-family:  Elianto;
        }
        #search input {
            border: 2px solid #4385F4;
            border-radius: 20px;
            background-color: #eee;
            margin-right: 10px;
        }
        #search input:focus {
            background-color: #fff;
        }
        .article {
            width: 80%;
            min-height: 75px;
            margin: 10px auto;
            padding: 20px;
            background-color: #4385F4;
            color: #fff;
            border: 1px solid #ddd;
            opacity: 1;
            
            font-size: 1.1em;
            
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
            cursor: pointer;
            
            transition: all 200ms ease;
            -webkit-transition: all 200ms ease;
            -moz-transition: all 200ms ease;
            -o-transition: all 200ms ease;
        }

        .article:hover {
            transform: translateX(5px);
        }