<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sentiment Herald</title>

    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class='container'>
        <div class='title'>
            <h1>SENTIMENT HERALD</h1>
            <h4>Twitter Sentimental analysis tool</h4>
        </div>
    </div>
    <br>
    <div class='grid1'>
        <form>
            <input type='text' maxwidth='80' placeholder="Search" 
            onfocus="this.placeholder = ''"
            onblur="this.placeholder = 'Search'" autofocus required /><input type='submit' value='>'/>
        </form>
    </div>
    
    
</body>
</html>